GtkToolbar {
        padding: 1px;
}

GtkButton {
        padding: 4px;
}

GtkComboBox GtkToggleButton {
        padding: 2px;
}

/* Disable overlay scrollbar dotted line */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left {
        background-image: none;
}
