GtkToolbar {
        padding: 1px;
}

GtkButton {
        padding: 4px;
}

GtkComboBox GtkToggleButton {
        padding: 2px;
}

/* Disable overlay scrollbar dotted line */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left {
        background-image: none;
}

/* https://ogbe.net/blog/gnome_titles.html */
/* shrink headerbars */
headerbar {
        min-height: 0px;
        padding-left: 2px;
        padding-right: 2px;
}

headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
        margin-top: 0px;
        margin-bottom: 3px;
}

/* shrink ssd titlebars */
.default-decoration {
        min-height: 0; /* let the entry and button drive the titlebar size */
        padding: 0px;
}

.default-decoration .titlebutton {
        min-height: 0px;
        min-width: 0px;
}

window.ssd headerbar.titlebar {
        padding-top: 3px;
        padding-bottom: 3px;
        min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
        padding-top: 3px;
        padding-bottom:3px;
        min-height: 0;
}
